:root {
    --fuenteHeading: 'Edu SA Beginner', cursive;

    --rosa: #e442c1;
    --blanco: #FFFFFF;
    --gris: #e1e1e1;
    --negro: #000000;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* para que 1 rem = 10px*/
}
body {
    font-size: 1.6rem;
    line-height: 2;
    background-color: var(--negro);
}
*,
*:before,
*:after {
    box-sizing: inherit;
    /* Hereda del elemento padre, que es html, tiene la ventaja que si lo usas en otro selector lo hereda al otro selector */
}
.no-margin {
    margin: 0; /* eliminar margenes */
}
/* Globales */
.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
    margin-top: 5rem;
    /* Para centrar el contenido en la pantalla*/
    /* width: min(90%, 120rem); es lo mismo que max-width y width */
}
h1 {
    font-size: 5rem;
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    
}
p {
    font-size: 7.8rem;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    margin: auto;
    margin-top: 30rem;

}
.botones {
    display: flex;
    gap: 10rem;
    justify-content: center;
}
.boton {
    background-color: var(--rosa);
    font-family: var(--fuenteHeading);
    color: var(--negro);
    text-align: center;
    padding: 1rem 3rem;
    text-decoration: none;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    border-radius: 0.4rem;
}
.boton:hover {
    cursor: pointer;
}
.imagenCanelo {
    justify-content: center;
    align-items: center;
    display: flex;
}
canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}